.item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  margin: 0px 15%;
}

.item__info {
  width: 440px;
  text-align: left;
  font-size: 1.2em;
}

.item__info__track {
  width: 290px;
  margin: 30px 0px;
  h5 {
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  span {
    display: block;
    margin-bottom: 20px;
  }
}

.item__btnFinish {
  height: 40px;
  width: 120px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #000;
  font-size: 0.75em;
  border: 2px solid #000;
  border-radius: 10px;
  a {
    color: #fff;
  }
}

.btnDelete {
  height: 40px;
  width: 120px;
  margin-top: 15px;
  margin-left: 10px;
  background-color: #000;
  color: #fff;
  font-size: 0.7em;
  border: 2px solid #000;
  border-radius: 10px;
}

.btnClear {
  @extend .btnDelete;
}
