.inconDiv {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  margin-left: 45%;
  height: 45px;
  width: 100px;
  span {
    background-color: rgb(212, 14, 14);
    color: #fff;
    margin-top: 8px;
    margin-right: 20px;
    padding-top: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
  }
  img {
    height: 100%;
  }
}
