.products__cards__elements {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  width: 140px;
  height: 330px;
  text-align: center;
  img {
    width: 100%;
    height: 140px;
  }
  h6 {
    font-size: 1.1em;
  }
  p {
    font-size: 1em;
  }
}
