.products__cards__elements {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  width: 140px;
  height: 300px;
  text-align: center;
  img {
    width: 100%;
    height: 140px;
  }
  h6 {
    font-size: 1.1em;
  }
  p {
    font-size: 1em;
  }

  .products__cards__elements__link {
    height: 35px;
    width: 130px;
    background-color: #000;
    border-radius: 10px;
    border: 2px solid #000;
    :hover {
      background-color: #fff;
      color: #000;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
      padding-top: 3.5px;
      border-radius: 10px;
      color: #fff;
    }
  }
}
