.counter {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
  .counter__btnLess {
    height: 40px;
    width: 40px;
    background-color: #000;
    color: #fff;
    font-size: 0.7em;
    border: 2px solid #000;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .counter__input {
    height: 40px;
    width: 60px;
    padding-left: 25px;
    font-size: 0.7em;
  }
  .counter__btnMore {
    @extend .counter__btnLess;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .counter__btnAdd {
    height: 40px;
    width: 120px;
    margin-left: 10px;
    background-color: #000;
    color: #fff;
    font-size: 0.7em;
    border: 2px solid #000;
    border-radius: 10px;
  }
}
